@brushStyle-black: black;
@brushStyle-red: red;
@brushStyle-blue: blue;
@brushStyle-yellow: yellow;

@c1: #f73e2c;
@c2: #f2035c;
@c3: #9906a5;
@c4: #672ab5;
@c5: #3d4aad;
@c6: #43b052;
@c7: #009788;
@c8: #01bbd4;
@c9: #00a4f4;
@c10: #1091ee;
@c11: #88c64b;
@c12: #cdde38;
@c13: #feee37;
@c14: #fec224;
@c15: #fd981a;
@c16: #000000;
@c17: #5f7c8c;
@c18: #9d9d9d;
@c19: #7a5447;
@c20: #fd540c;

@sizeS: 1px;
@sizeM: 3px;
@sizeL: 6px;
@sizeXL: 10px;

.brush-style-color{
    

    &.brush-style-color--black{
 
      background: @brushStyle-black;
    }

    &.brush-style-color--blue{
      background: @brushStyle-blue;
    }

    &.brush-style-color--c1{
      background: @c1;
    }
    &.brush-style-color--c2{
      background: @c2;
    }
    &.brush-style-color--c3{
      background: @c3;
    }
    &.brush-style-color--c4{
      background: @c4;
    }
    &.brush-style-color--c5{
      background: @c5;
    }

    &.brush-style-color--c6{
      background: @c6;
    }
    &.brush-style-color--c7{
      background: @c7;
    }
    &.brush-style-color--c8{
      background: @c8;
    }
    &.brush-style-color--c9{
      background: @c9;
    }
    &.brush-style-color--c10{
      background: @c10;
    }

    &.brush-style-color--c11{
      background: @c11;
    }
    &.brush-style-color--c12{
      background: @c12;
    }
    &.brush-style-color--c13{
      background: @c13;
    }
    &.brush-style-color--c14{
      background: @c14;
    }
    &.brush-style-color--c15{
      background: @c15;
    }

    &.brush-style-color--c16{
      background: @c16;
    }
    &.brush-style-color--c17{
      background: @c17;
    }
    &.brush-style-color--c18{
      background: @c18;
    }
    &.brush-style-color--c19{
      background: @c19;
    }
    &.brush-style-color--c20{
      background: @c20;
    }
}

.brush-style-sample__size--s{
  border: solid @sizeS black;
}

.brush-style-sample__size--m{
  border: solid @sizeM black;
}

.brush-style-sample__size--l{
  border: solid @sizeL black;
}

.brush-style-sample__size--xl{
  border: solid @sizeXL black;
}


