
@import "../../common/assets/base";
@import "./customBrushesStyles";

.brush{

}

.brush-label{

}

.brush-sample{

}

.brush-styles-group{
	position: relative;
	border: solid 2px red;
}

.brush-styles-group label{
	display: block;
}

.brush-styles-style--simple{
	display: inline-block;
}

.brush-styles-style{
	height: 40px;
	border: solid 1px black;
}

.brush-styles-style_icon{
	display: inline-block;
	height: 40px;
	width: 40px;
	border: solid 1px black;
}
.brush-styles-style_sample{
	display: inline-block;
	height: 100%;
	width: 60%;
	border: solid 1px black;
}
