/*
  import colors, fonts and normalize
*/
@import "../../common/assets/base";

.board-container{
  height: 80vh;

  display: flex;
  flex-flow:  row wrap;
  justify-content: space-between;
}
.board-canvas-container{
  display: flex;
  flex: 0 1 60%;
  position: relative;
  
}
.board-canvas{
  flex: 1 1 auto;
    
  border: solid 1px @color-black;
}

.flex-menu{
  display: flex;
  flex-flow:  column;
  justify-content: flex-start;
}

.flex-item{
  flex: 1 0 auto;
  background: yellow;
  border: solid 1px black;
}

.board-tools{
  flex: 0 1 35%;
  height: 100%;
  background: yellow;
}

.board-tools-history{
  flex: 0 1 15%;
  text-align: center;
}

.button--redo{
  display: inline-block;
  height: 100%;
  width: 40%;
}
.button--undo{
  display: inline-block;
  height: 100%;
  width: 40%;
}

.board-tools-brushes{
  /*width: 100%;*/
}
.board-tools-styles{
  /*width: 100%;*/
}
