/*
  import colors, fonts and normalize
*/
@import '../../common/assets/base';

.board-container{
  height: 80vh;

  display: flex;
  flex-flow:  row wrap;
  justify-content: space-between;
}
.board-canvas-container{
  display: flex;
  flex: 0 1 60%;
  position: relative;
  
}
.board-canvas{
  flex: 1 1 auto;
    
  border: solid 1px #c1c1c1;
}

.flex-menu{
  display: flex;
  flex-flow:  column;
  justify-content: flex-start;
}

.flex-item{
  flex: 1 0 auto;
  margin-bottom: 20px;
}

.board-tools{
  flex: 0 1 35%;
}

.board-tools__header{
  background: @atrapalo-red;
}

.board-tools__header--title{
  font-size: 1.1rem;
  color: @atrapalo-white;
}

.board-tools-history{
  
}

.button__container{
  flex: 1 1 auto;
}

.button__container-button{
  flex: 1 1 auto;
  text-align: center;
}

.button--redo{
  display: inline-block;
  
  background-color: @atrapalo-red;
}
.button--undo{
  display: inline-block;
  background-color: @atrapalo-red;
}

.board-tools-brushes{
  /*width: 100%;*/
}
.board-tools-styles{
  /*width: 100%;*/
}

/* === Desktop === */
@media @smartphones{
  .board-container{
    height: 40vh;
    flex-flow:  column;

  }
  .board-canvas-container{
    flex: 1 0 100%;
    margin: 15px 0;
  }
  .board-tools{
    flex-flow:  row wrap;
    justify-content: space-between;
    flex: 1 0 100%;
  }
  .board-tools__header{
    padding: 5px;
  }
  .board-tools-history, .board-tools--brushes{
    flex: 1 0 40%;
  }
  .button--undo{
    margin: 0 0;
  }

  .flex-item{
    flex: 0 100%;
    margin-bottom: 10px;
  }
}